<!DOCTYPE html>
<html>
<head>
<title>reCAPTCHA demo</title>
</head>
<body>

<center><h2>Form</h2>

<form method="POST" action="/submitform">
{% csrf_token %}
  <label>Name:</label><br>
  <input type="text" id="fname" name="name" required><br><br>
  
   <label>Email:</label><br>
  <input type="email" id="fname" name="email" required ><br><br>
  
  
  <label>Password:</label><br>
  <input type="password" id="lname" name="password" required ><br><br>
  <input type="submit" value="Submit">
</form> 

<p>{% if messages %}
 {% for message in messages %}
 <strong>{{message}}</strong>
  {% endfor %}
{% endif %}</p>                  
						  
					
                    
</center>
</body>
</html>